[data-theme=slnee]{
--bg-color:#fafafa;
--card-bg:#edf5f1;
--text-color:#241f1f;
--text-light:#4b547d;
--heading-color:#0f14a3;
--primary:#4463F0;
--fg-color:#ffffff;
--fg-color-hover:#B4CD29;
--control-bg:#f7fcde;
--navbar-bg:#a1edd1;
--sidebar-select-color:#fac0c0;
--primary-color:#4463F0;
}
[data-theme=blue]{
--bg-color:#e6f4ff;
--primary:#2a634e;
--navbar-bg:#449CF0;
--sidebar-select-color:#4F9DD9;
--text:#8c91a3;
--primary-color:#2a634e;
}
[data-theme=red]{
--heading-color:#c96767;
--primary:#CB2929;
--navbar-bg:#fff0f0;
--sidebar-select-color:#d96666;
--primary-color:#CB2929;
}
